# 1.1 Jupyter Notebook

# 1.2 Numbers between 2000-3200 div by 7 not by 5

In [78]:
x = range(2000, 3201)
st = str()
for i in x:
    if i % 7 == 0 and i % 5 != 0:
        st = st + str(i) + ','
st = st[0:-1]
print(st)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# 1.3 Reverse First and Last name

In [79]:
st = input("Please enter first and last name: ")
x = st.split()
a = x[1] + ' ' + x[0]
print(a)

Please enter first and last name: Zorawar Khan
Khan Zorawar

# 1.4 Volume of sphere

In [80]:
dia = 12.0
v = 3.14 * (4 / 3) * pow(dia/2, 3)
v

904.3199999999999

# 2.1 Generate List from comma separated numbers

In [81]:
st = input("Enter comma separated numbers : ")
x = st.split(',')
y = []
for i in x :
    y.append(int(i))
print(y)

Enter comma separated numbers : 1, 5, 55, 565, 66
[1, 5, 55, 565, 66]

# 2.2 Print a pattern

In [82]:
k = 6
x = range(1,k)
for i in x :
    print('*' * i)
x = range(k-2,0, -1)
for i in x :
    print('*' * i)

*
**
***
****
*****
****
***
**
*

# 2.3 Reverse word

In [83]:
x = input("Enter a word to reverse: ")
x = x[::-1]
print(x)

Enter a word to reverse: ahsdfIUET hgaba Xasdf08a9dfas
safd9a80fdsaX abagh TEUIfdsha

# 2.4 Print in a format

In [84]:
x = """WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"""
spliter = ['INDIA, ', 'SOVEREIGN, ', 'REPUBLIC']
lis = []
i = 0
st = 0
while(i < len(spliter)) :
    end = x.find(spliter[i])+len(spliter[i])
    lis.append(x[st:end])
    st = end
    i += 1
lis.append(x[st:-1])
lis[1] = '\t' + lis[1] + '!'
lis[2] = '\t\t' + lis[2]
lis[3] = '\t\t' + lis[3]
for i in lis :
    print(i.expandtabs())

WE, THE PEOPLE OF INDIA,
        having solemnly resolved to constitute India into a SOVEREIGN, !
                SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
                 and to secure to all its citizen